body {
	margin-left: 28px;
	margin-right: 50px;
	font-family: palatino linotype, gramond, serif;
	color: #ffffff;
	background: #000000;
	background-image: url("../img/triangles.jpg");
	background-position: top left;
	background-attachment:fixed;
	background-repeat:repeat;
	text-align: justify;
}

p{
    font-size:medium;
}

/*Links*/

a:link {
	color: #ffffff;
	background: transparent;
}

a:visited {
	color: #ff6a00;
	background:transparent;
}
a:active{
	color: #c00;
	background:transparent;
}
a:hover{
	background: #ffa;
}


h1, h2, h3, h4, h5, h6 {
    text-align: left;
    font-family: Verdana, sans-serif;
}

h2,h3 {
	color: #00ff21;
}

h1 {
	font: 170%;
}

h2 {
	font: 140%;
}
h3 {
	font: 120%;
}
h4 {
	font: 100%; font-weight:bold;
}
h5 {
	font: 100%; font-style:italic;
}
h6 {
	font: 170%; font-variant-caps:all-small-caps;
}

.fa-color {
    color:#ffd800;
}

img.profile{
	max-width: 100%; height:auto;
}

img{
	image-orientation: from-image;
}

.divBack{
	background-color: #000000;
	opacity:0.7;
}

/*Small devices (landscape phones, 760px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	body{
		background-image:none;
		background-color: #979494;
		color:#000000;
	}
	.divBack{
		opacity: 1.0;
		background-color: #61d4cb;
	}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	body{
		background-image:none;
		background-color: #79e264;
		color:#000000;
	}
	.divBack{
		opacity: 1.0;
		background-color: #61d4cb;
	}
 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	body{ 
		background-image:none;
		background-color: #79e264;
		color:#000000;
	}
	.divBack{
		opacity: 1.0;
		background-color: #61d4cb;
	}
}