<link rel="stylesheet" href="/styles/style.css">
<div class="container-fluid">
    <div class="row bclass">
        <div class="col-xs-2 col-sm-3 col-md-4 col-lg-3 col-xl-2 bclass">
            <img src="Images/profile.jpeg" class="profile"><br />
            <p>
            Nikolas Peterson <br />
            (555)555-5555 <br />
            npeterson at rtc dot edu
            </p>
        </div>
        <div class="col-xs-2 col-sm-9 col-md-4 col-lg-3 col-xl-2 bclass">
            <h5>Biography</h5>
            <p>
                I was born and raised in Washington State. I grew up in what most people would think
                of as the quintescential home. I was a planned birth, my parents were married and I had
                an older brother. I went to school, played video games, hung out with friends and pretty
                eventually my eighteenth birthday came around and I was graduating high school. Not
                knowing what to do, I decided to join the military and due to a quirk of timing the 
                Marine Corps recruiter was the only one open at the time. So, I joined up and after
                bootcamp I got stationed in Hawaii. I did one deployment to Iraq and soon afterwards my
                contract was up and I left the Corps. I worked for a bit and then went to school for 
                Automotive technology. Turns out I'm not the best mechanic. I like working with my hands,
                I'm good at fixing things and it turns out I like finding solutions to problems. The only 
                bad things is that I'm not very fast and when you get paid for the jobs you complete and
                not the hours you spend being slow isn't good. That led me to changing my career to 
                Computer Science. Now I work doing flooring estimation while going to school to obtain my
                degree.
            </p>
        </div>
        <div class="col-xs-2 d-sm-none d-md-block col-md-4 col-lg-3 col-xl-2 bclass">
            Education:
                <ul class="">
                    <li>High School Diploma: Kentridge Highschool</li>
                    <li>Certificate of Completion: Automotive Technology</li>
                    <li>Associates of Applied Science: Renton Technical College</li>
                </ul>
            Experience:
                <ul>
                    <li>United States Marine Corps: 5  years</li>
                    <li>Vaupell NW Molding: 1 year</li>
                    <li>Firestone Complete Autocare: 1 year</li>
                    <li>Toyota of Renton: 1 year</li>
                    <li>Pinnacle Flooring: 1 year and current</li>
                </ul>
        </div>
        <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass">
                
        </div>
        <div class="col-xs-2 d-sm-none d-lg-block col-lg-6 col-xl-2 bclass">
            <ul>
                <li>Rogue Squardron</li>
                <li>Talion Revenant</li>
                <li>On Basalisk Station</li>
                <li>Monster Tamer</li>
                <li>Dungeon Deposed</li>
            </ul>
        </div>
        <div class="col-xs-2 d-sm-none d-lg-block d-lg-block col-lg-6 col-xl-2 bclass">
            <ul>
                <li>Bobverse</li>
                <li>Fimbulwinter</li>
                <li>Once a Hero</li>
                <li>Name of the Wind</li>
                <li>Off Armageddon Reef</li>
            </ul>
        </div>	
    </div>
</div>