<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link rel="stylesheet" href="/styles/style.css">
<div class="container-fluid">
  <div class="row bclass">
    <div class="col-xs-3 col-sm-4 col-md-4 col-lg-3 col-xl-3 bclass ">
      <img src="images/profile.jpeg" class="img-fluid"><br />
        <p class="divBack">
        Nikolas Peterson <br />
        (555)555-5555 <br />
        npeterson at rtc dot edu
        </p>
    </div>
    <div class="col-xs-3 col-sm-8 col-md-8 col-lg-9 col-xl-9 bclass ">
      <h5 class="divBack">Biography</h5>
        <p class="divBack">
          I was born and raised in Washington State. I grew up in what most people would think
          of as the quintescential home. I was a planned birth, my parents were married and I had
          an older brother. I went to school, played video games, hung out with friends and pretty
          eventually my eighteenth birthday came around and I was graduating high school. Not
          knowing what to do, I decided to join the military and due to a quirk of timing the 
          Marine Corps recruiter was the only one open at the time. So, I joined up and after
          bootcamp I got stationed in Hawaii. I did one deployment to Iraq and soon afterwards my
          contract was up and I left the Corps. I worked for a bit and then went to school for 
          Automotive technology. Turns out I'm not the best mechanic. I like working with my hands,
          I'm good at fixing things and it turns out I like finding solutions to problems. The only 
          bad things is that I'm not very fast and when you get paid for the jobs you complete and
          not the hours you spend being slow isn't good. That led me to changing my career to 
          Computer Science. Now I work doing flooring estimation while going to school to obtain my
          degree.
        </p>
    </div>
  </div>
  <div class="row bclass">
    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-2 col-xl-2 bclass">
      <h4>Movies</h4>
      <div class="d-lg-none">
        <ul class="">
          <li>Shawshank Redemption</li>
          <li>Deadpool</li>
          <li>Shrek</li>
          <li>Death to Smoochy</li>
          <li>Avengers</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-3 col-sm-6 col-md-6 col-lg-2 col-xl-2 bclass">
      <div class="d-lg-none">
      <h4>Books</h4>
        <ul>
          <li>Talion Revenant</li>
          <li>Fimbulwinter</li>
          <li>Off Armageddon Reef</li>
          <li>Starship's Mage</li>
          <li>Regicide</li>
        </ul>
      </div>
      <div class="d-none d-lg-block">
        <img src="images/shawshank.jpg" class="img-fluid">
      <h4>Shawshank Redemption</h4>
      </div>	
    </div>
    <div class="d-none d-lg-block col-lg-2 col-xl-2">
      <img src="images/deadpool.jpg" class="img-fluid">
      <h4>Deadpool</h4>
    </div>
    <div class="d-none d-lg-block col-lg-2 col-xl-2">
      <img src="images/shrek.jpg" class="img-fluid">
      <h4>Shrek</h4>
    </div>
    <div class="d-none d-lg-block col-lg-2 col-xl-2">
      <img src="images/smoochy.jpg" class="img-fluid">
      <h4>Death to Smoochy</h4>
    </div>
    <div class="d-none d-lg-block col-lg-2 col-xl-2">
      <img src="images/avengers.jpg" class="img-fluid">
      <h4>Avengers</h4>
    </div>
  </div>
  <div class="row d-none d-lg-flex bclass">
    <div class="col-lg-2 col-xl-2">
      <h4>Books</h4>
    </div>
    <div class="col-lg-2 col-xl-2">
      <img src="images/talion.jpg" class="img-fluid">
      <h4>Talion Revenant</h4>
    </div>
    <div class="col-lg-2 col-xl-2">
      <img src="images/fimbulwinter.jpg" class="img-fluid">
      <h4>Fimbulwinter</h4>
    </div>
    <div class="col-lg-2 col-xl-2">
      <img src="images/reef.jpg" class="img-fluid">
      <h4>Off Armageddon Reef</h4>
    </div>
    <div class="col-lg-2 col-xl-2" >
      <img src="images/starship.jpg" class="img-fluid">
      <h4>Starship's Mage</h4>
    </div>
    <div class="col-lg-2 col-xl-2">
      <img src="images/regicide.jpg" class="img-fluid">
      <h4>Regicide</h4>
    </div>
  </div>
</div>
