<link rel="stylesheet" href="/styles/review.css">

<div class="container-fluid">
    <div class="row pad stripe2 ">
        <h2 id="SitePurpose" class="col-12">Site Purpose</h2>
        <!-- no img required-->
        <div class="col-12">
            <p>
                The ESPN website is a news site dedicated to providing the latest sports coverage. It covers all 
                the major sports from football to mixed martial arts. ESPN also covers a variety of sports not as 
                popular in the United States such as Cricket and Horse Racing. The site provides real time scores 
                new written artiles and videos. Along with things like live radio and fantasy sports.
            </p>
        </div>
        <a href="#top">top</a>
    </div>
    <div class="row pad stripe1">
        <h2 id="Navigation" class="col-12 order-first">Navigation</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7" style="float:left;">
            <p>
                ESPN website’s menu bar is slim and unobtrusive, but it offers a comprehensive drop down menu. 
                It has the standard home button logo, but isn’t located at the absolute top, which sets it apart and 
                looks intentional. It is also different that it doesn’t offer any obvious links to information 
                about ESPN itself, but that could be on a parent site or network site. The sight navigation does 
                seem logical in it’s organization by putting easily understood links to what I assume are its 
                highest areas of traffic. The two things that are odd as I navigate the sight are that the login 
                isn’t included in the navigation bar and when the screen is at a tablet size accessing the menu 
                causes the rest of the screen to go black.</br>
                <a href="#top">top</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 order-last">
            <img src="images/reviewImg/menu.png" class="img-fluid" style="float:right; " >
        </div>             
    </div>
    <div class="row pad stripe2">
        <h2 id="Design" class="col-12 order-first">Design</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 order-last">
            <p>
                ESPN’s homepage has several different types of media. It has no advertisements. The page is very 
                full of content, but I think that is on purpose. It’s layout is like a news site, which is appropriate 
                because it is a news site, just dedicated to sports. The content scales no matter what the size and I 
                would say it’s appropriate for the site.They only problem I had was it seems like there’s a missing 
                gap in their media queries because with Firefox I was able to resize the window and hit an area that 
                seems to make much of the CSS ineffective.</br>
                <a href="#top">top</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <img src="images/reviewImg/design.png" class="img-fluid" >
        </div> 
    </div>
    <div class="row pad stripe1">
        <h2 id="Content" class="col-12 order-first">Content</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <p>
                ESPN’s website does seem fresh and has to be fresh. Part of its core function as a sports news outlet demands 
                that the site have up to date scores and new articles every day. I don’t know if there is a particular synergy 
                in the design and content, but the designs and colors are easy on the eye and brink the eye to where they want 
                their consumers to look. I think this website’s content fulfills the function of giving the user recent sports 
                news. On side note this website seems to be geared towards american sports news, but for all I know they have 
                an adaptive design that changes the sports highlighted depending on incoming IP address.</br>
                <a href="#top">top</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 order-last">
            <img src="images/reviewImg/content.png" class="img-fluid">
        </div> 
    </div>
    <div class="row pad stripe2">
        <h2 id="Interactivity" class="col-12 order-first order-first">Interactivity</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7 order-last">
            <p>
                The ESPN website seems very interactive in a standard way. There are many links to real time scores, to articles 
                and to videos, but each one navigate you to a different area. The navigation between is fast and the theme stays 
                consistent. My only critique is maybe some of the media could be interactive in a different way, such as 
                enlarging some content instead of navigating to a whole new page.</br>
                <a href="#top">top</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <img src="images/reviewImg/interactivity.png" class="img-fluid" >
        </div>
    </div>
    <div class="row pad stripe1">
        <h2 id="Improvements" class="col-12 order-first">Improvements</h2>
        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
            <p>
                The ESPN website has a couple changes I would make. They are:
                <ul>
                    <li>Look into the media query or browser normalizing CSS and see what is causing the odd spot in screen size change.</li>
                    <li>Try adding some interactive parts of the homepage that don’t involve navigating.Try something like expanding 
                        the content focused upon, or moving the content to a bigger area where it can be seen with greater detail.</li>
                    <li>If the having the user sign up and login is important to their site purpose then maybe think about moving 
                        those to the menu bar.</li>
                </ul>
                <a href="#top">top</a>
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 order-last">
            <img src="images/reviewImg/improvement.gif" class="img-fluid">
        </div>
    </div>