
<link rel="stylesheet" href="/styles/style.css">

<h1>Web Resources</h1>
        <div class="container-fluid">
            <div class="row bg-primary">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass notblank"><h4><a href="http://w3schools.com" class="text-warning" target="_blank">W3Schools</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass blank"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">The W3Schools site contains a comprehensive reference of many web resources. The tutorials are generic and lead the user through the most used parts of a 
                        particular language or technology. For some languages it offers real time feed back in the "try it now" sections where you can see the example run and 
                        modify the example to run it again. It's a good place to start if you want a generic reference for the things it has tutorials for.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-info">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://getbootstrap.com/docs/4.2/getting-started/introduction/" class="text-warning" target="_blank">Bootstrap</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">GetBoostrap offers documentation, coded examples, and site themes for the popular bootstrap framework. This site provides both link and download depending
                        on how you want to incorporate bootstrap into your download. It also gives some insight into what the pieces of the framework do and maybe give you a
                        way to pair down the framework size if you don't need all the files.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-primary">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://www.bootstrapdash.com/bootstrap-4-tutorial/bootstrap-grid/" class="text-warning" target="_blank">BoostrapDash</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">BootstrapDash is a Bootstrap 4 tutorial with a short but informative steps on how to get started with a modern webapp. The best part of this website is
                        the other technologies/softwares it recommends to get started like Git, Node.js, and NPM.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-info">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://yeoman.io/" class="text-warning" target="_blank">Yeoman</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">The Yeoman website, provides a free download for the yeoman api that contains Bower and Grunt. This site is obviously the home of this API so it is the
                        best place to get infomation like, "how to use it", documentation, and even a tutuorial. It's everything Yeoman, so if this is the API of choice this
                        the first place I'd look for information.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-primary">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://www.codecademy.com/learn/learn-html" class="text-warning" target="_blank">CodeAcademy</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">CodeAcademy a different way/style of learning code, in this case html, than a generic tutorial. I think the real value of this site is that it offers 
                        a more structured way of learning and teaching the user through available videos for those who learn that way. I believe CodeAcademy also gives out
                        homework in their modules.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-info">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://foundation.zurb.com/" class="text-warning" target="_blank">Foundation</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">Foundation is one of the top alternatives to the Bootstrap framework. 
                    The website offers the download for the Foundation framework, free video tutorials and pay for classes. The site also offers 8 base 
                    templates to help kickstart any website you're trying to create. This sight is great if one is looking for a popular alternative to bootstrap.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-primary">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://www.tutorialspoint.com/nodejs/" class="text-warning" target="_blank">Tutorials Point</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"> Tutorials Point is another turials website for a variety of subjects, like Node.js for example. This site also provides many other features
                        like videos and online coding enviroments. It's also good to have a second point of reference when trying out new code in case you don't understand
                        the first source or the code from the first source isn't working.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-info">
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://colorlib.com/wp/free-responsive-website-templates/"  class="text-warning" target="_blank">Colorlib</a></h4></div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">  Colorlib provides responsive web templates. Templates can be great for giving you a place to start, because it is essentially a blank website. They are
                        also good because even if you don't copy the template, it can give you insight on how to visually set up your website and how it can navigate.
                    </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook fa-color"></i>
                    <i class="fas fa-chess-rook"></i>
                    <i class="fas fa-chess-rook"></i>
                </div>
                <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
            </div>
            <div class="row bg-primary">
                    <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass"><h4><a href="https://jsfiddle.net/" class="text-warning" target="_blank">JSFiddle</a></h4></div>
                    <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                    <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">JSFiddle is an online front-end IDE for websites with distinct places for HTML, CSS, and Javascript. It also allows you to see the results. In my opinion,
                            the great thing about this site is that you can try out snippets of code in real time to see if they give you the desired effect. You can even save a
                            snapshot of the snippet that they call a "fiddle".
                        </div>
                    <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                    <div class="col-xs-2 col-sm-6 col-md-4 col-lg-3 col-xl-2 bclass">
                        <i class="fas fa-chess-rook fa-color"></i>
                        <i class="fas fa-chess-rook fa-color"></i>
                        <i class="fas fa-chess-rook fa-color"></i>
                        <i class="fas fa-chess-rook fa-color"></i>
                        <i class="fas fa-chess-rook"></i>
                    </div>
                    <div class="col-xs-2 d-sm-none d-lg-block col-lg-3 col-xl-2 bclass"></div>
                </div>